<div class="row">
	<form>
		<div class="row">
			<p class="box-title"></p>
			<div class="col-md-2">
				<button class="btn btn-block bg-theme waves-effect waves-light" id="addModal" type="button" style="color:white">
					<i class="fa fa-plus m-r-5"></i> Add Job Order
				</button>
			</div>

			<br />
			<br />
			<br />

			<div class="col-md-12 col-sm-12 col-xs-12">
				<div style="overflow: auto;">
					<table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
						<thead>
							<tr>
								<th>ID</th>
								<th>Job Order</th>
								<th>Batch #</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Added By</th>
								<th>Date Updated</th>
								<th>Started</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</form>

	<!-- /.modal -->
	<div id="formModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
		<div class="modal-dialog modal-lg" style="width: 100%;">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							×
						</button>
						<h4 class="modal-title">Form</h4>
					</div>

					<div class="modal-body">
						<!-- Hidden Inputs -->
						<div class="form-group has-feedback">
							<input type="hidden" class="form-control" name="modifyId" value="" />
						</div>
						<div class="form-group has-feedback">
							<input type="hidden" class="form-control" required name="mode" id="mode" value="add" />
						</div>

						<div class="white-box">
							<h3 class="box-title">Item Information</h3>
							<p class="text-muted m-b-30">Please fill all necessary fields</p>
							<div class="vtabs customvtab" style="width:100%">
								<ul class="nav tabs-vertical">
									<li class="tab active">
										<a data-toggle="tab" href="#vhome3" aria-expanded="true">
											<span class="visible-xs"><i class="ti-home"></i></span>
											<span class="hidden-xs">Primary Info</span>
										</a>
									</li>
									<li class="tab">
										<a aria-expanded="false" data-toggle="tab" href="#vmessages5">
											<span class="visible-xs"><i class="ti-email"></i></span>
											<span class="hidden-xs">Items to Produce</span>
										</a>
									</li>
								</ul>
								<div class="tab-content">
									<div id="vhome3" class="tab-pane active">
										<div class="row table-responsive">
											<div class="col-md-6">
												<!-- <div class="form-group">
													<label for="description">Description</label>
													<div class="input-group">
														<div class="input-group-addon">
															<i class="ti-user"></i>
														</div>
														<input type="text" class="form-control"
															name="description" />
													</div>
												</div> -->

												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label">Start Date</label>
														<input type="text" class="form-control mydatepicker"
															placeholder="" name="start_date" />
													</div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label">End Date:</label>
														<input type="text" class="form-control mydatepicker"
															placeholder="" name="end_date" />
													</div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label">Manufacturing Date:</label>
														<input type="text" class="form-control mydatepicker"
															placeholder="" name="manufacturing" />
													</div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label">Expiration Date:</label>
														<input type="text" class="form-control mydatepicker"
															placeholder="" name="expiration" />
													</div>
												</div>

												<div class="col-md-12">
													<div class="form-group">
														<label for="description">Employees Involved in Production</label>
														<select class="form-control select2" multiple="multiple" id="emp_production" name="emp_production[]">
														</select>
													</div>
												</div>
											</div>
											<div class="col-md-6 pull-right">
												<p>
													Enter the primary information of the item. <br />Raw
													Materials are the one use in production to produced
													necessary items or products
												</p>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									<div id="vmessages5" class="tab-pane">
										<div class="row col-md-12">
											<div class="form-group">
												<label for="description">Items</label>
												<div class="input-group">
													<select class="form-control select2" name="item_id" id="item_id">
													</select>
													<div class="input-group-btn">
														<button type="button" id="addItem"
															class="btn waves-effect waves-light btn-info ">
															<span class="fa fa-plus"></span>
														</button>
													</div>
												</div>
											</div>

											<div class="col-md-12 table-responsive">
												<table id="datatable_items_to_produce" class="table table-striped"
													role="grid" aria-describedby="datatable_info">
													<thead>
														<tr>
															<th>ID</th>
															<th>Item Name</th>
															<th>Formulation</th>
															<th>TARGET (KL)</th>
															<th>PRODUCED (KL)</th>
															<th>UNPRODUCED (KL)</th>
															<th>PRODUCED (PCS)</th>
															<th>UNPRODUCED (PCS)</th>
															<th>Remarks</th>
															<th></th>
														</tr>
													</thead>
													<tbody></tbody>
												</table>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">
								Close
							</button>
							<button type="button" class="btn btn-danger waves-effect waves-light" id="deleteButton">
								Delete
							</button>
							<button type="submit" class="btn btn-primary waves-effect waves-light">
								Save Changes
							</button>
							<button type="button" class="btn btn-success waves-effect waves-light"
								id="finish_production">
								Finish Production
							</button>
							<button type="button" class="btn btn-success waves-effect waves-light"
								id="start_production">
								Start Production
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Button trigger modal -->

	<!-- /.modal -->
	<div id="formModalz" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true" style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 p-30" style="overflow: auto;">
						<br />
						<table id="datatable-item-select" class="table table-striped" role="grid"
							aria-describedby="datatable_info">
							<thead>
								<tr>
									<th>ID</th>
									<th>Type</th>
									<th>Warehouse</th>
									<th>Supplier</th>
									<th>Name</th>
									<th>Classification</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- /.modal -->
	<div id="viewModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 p-30" style="overflow: auto;">
						<p class="text-muted">Double click to select a PO.</p>
						<br />
						<table id="datatable-po-list" class="table table-striped" role="grid"
							aria-describedby="datatable_info">
							<thead>
								<tr>
									<th>Ref ID</th>
									<th>Supplier</th>
									<th>Ship To</th>
									<th>Amount</th>
									<th>Added By</th>
									<th>Date Updated</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="empProductionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form id="imageSubmit">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Employee Production : <label id="jo_number_emp_production"></label></h4>
          </div>
          <div class="modal-body">

			<table border="1" style="width:100%">
				<thead>
					<tr>
						<th style="text-align: center;">ID</th>
						<th style="text-align: center;">Name</th>
						<th style="text-align: center;">Qty</th>
					</tr>
				</thead>
				<tbody id="productionEmployees">

				</tbody>
			</table>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary waves-effect waves-light" onclick="saveEmpChanges()">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>