<div class="row">
	<p class="box-title"></p>
	<div class="col-md-2">
		<button class="btn btn-block waves-effect waves-light bg-theme" id="addModal" style="color: white;">
			<i class="fa fa-plus m-r-5"></i> Add Formulation
		</button>
	</div>

	<br />
	<br />
	<br />

	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="table-responsive">
			<table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
				<thead>
					<tr>
						<th>Formulation ID</th>
						<th>Description</th>
						<th>Item Name</th>
						<th>Kilo</th>
						<th>Produce in PCS</th>
						<th>Remarks</th>
						<th>Added By</th>
						<th>Date Time</th>
						<th></th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
 style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="content_form">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						×
					</button>
					<h4 class="modal-title">Form</h4>
				</div>
				<div class="modal-body">
					<!-- Hidden Inputs -->
					<div class="form-group has-feedback">
						<input type="hidden" class="form-control" required name="modifyId" value="" />
					</div>
					<div class="form-group has-feedback">
						<input type="hidden" class="form-control" required name="formAction" value="add" />
					</div>
					<!-- Hidden Inputs -->

					<div class="form-group">
						<label for="description">Description</label>
						<div class="input-group">
							<div class="input-group-addon"><i class="ti-user"></i></div>
							<input type="text" class="form-control" required="required" id="description" name="description" />
						</div>
					</div>


					<div class="form-group">
						<label for="date_process">Date</label>
						<div class="input-group">
							<div class="input-group-addon"><i class="ti-user"></i></div>
							<input type="date" class="form-control" required="required" id="date_process" name="date_process" />
						</div>
					</div>

					<div class="form-group">
						<label for="item_id">Item</label>
						<div class="input-group">
							<div class="input-group-addon"><i class="ti-user"></i></div>
							<select class="form-control select2" name="item_id" id="item_id">
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="item_id">How many kilo's in this procedure ?</label>
						<div class="input-group">
							<div class="input-group-addon"><i class="ti-user"></i></div>
							<input type="text" class="form-control" name="kilo" id="kilo">
						</div>
					</div>

					<div class="form-group">
						<label for="item_id">Produce in PCS</label>
						<div class="input-group">
							<div class="input-group-addon"><i class="ti-user"></i></div>
							<input type="text" class="form-control" name="produce" id="produce">
						</div>
					</div>


					<div class="form-group">
						<label for="remarks">Remarks</label>
						<div class="input-group">
							<div class="input-group-addon"><i class="ti-user"></i></div>
							<input type="text" class="form-control" required="required" name="remarks" id="remarks" value="N/A" />
						</div>
					</div>

				</div>



				<div class="modal-footer">
					<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">
						Close
					</button>

					<button type="button" class="btn btn-danger waves-effect waves-light" id="deleteButton">

						Delete

					</button>

					<button type="submit" class="btn btn-primary waves-effect waves-light">
						Save Changes
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Button trigger modal -->


<!--Modal for raw items-->
<div id="viewModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
 style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="rawMaterials">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						×
					</button>
					<h4 class="modal-title">Formulation ID:  <b id="formulation_item_name"></b></h4>
				</div>
				<div class="modal-body row">
					<div class="form-group has-feedback">
						<input type="hidden" class="form-control" required name="formAction" value="addRaw" />
					</div>
					<div class="form-group has-feedback">
						<input type="hidden" class="form-control" required name="modifyId" value="" />
					</div>
					<div class="form-group col-md-12">
						<label for="item_id">Raw Item</label>

						<select class="form-control select2" name="raw_item_id" id="raw_item_id">
						</select>

					</div>

					<div class="form-group col-md-12">
						<label for="remarks">Remarks</label>
						<input type="text" class="form-control" required="required" name="remarks" value="N/A" />
					</div>

					<div class="form-group col-md-3">
						<label for="description">Qty</label>
						<input type="text" class="form-control" required="required" name="orig_qty" value="1"/>
					</div>

					<div class="form-group col-md-3">
						<label for="remarks">Unit</label>
						<input type="text" class="form-control" required="required" name="orig_uom" />

					</div>

					<div class="form-group col-md-3">
						<label for="description">Req Qty</label>
						<input type="text" class="form-control" required="required" name="req_qty" />
					</div>

					<div class="form-group col-md-3">
						<label for="remarks">Req Unit</label>
						<input type="text" class="form-control" required="required" name="req_uom" />

					</div>

					<div class="form-group col-md-12">
						<button type="submit" class="btn btn-primary waves-effect waves-light col-md-12">
							Save Raw Item
						</button>
					</div>

					<div class="col-md-12 table-responsive">
						<table id="datatable_raw" class="table table-striped" role="grid" aria-describedby="datatable_info">
							<thead>
								<tr>
									<th>ID</th>
									<th>Item Name</th>
									<th>Qty</th>
									<th>Unit</th>
									<th>Remarks</th>
									<th></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
	
					</div>

				</div>

			</form>
		</div>
	</div>
</div>