<div class="row">
  <h3 class="box-title">
    <div class="col-md-2">
      <div class="btn-group dropdown">
        <button style="color:white;" aria-expanded="false" data-toggle="dropdown"
          class="btn bg-theme dropdown-toggle waves-effect waves-light" type="button">Menu&nbsp;<span
            class="caret"></span></button>
        <ul role="menu" class="dropdown-menu animated">
          <li><a href="#" id="addModal">Create Purchase Order</a></li>
          <!-- <li><a href="#" onclick="receivePO()">Receive Purchase Order </a></li> -->
          <li><a href="#" onclick="viewPending()">View Pending </a></li>
          <li><a href="#" onclick="viewApproved()">View Approved</a></li>
          <li><a href="#" onclick="viewReceived()">View Received</a></li>
          <li><a href="#" onclick="viewRejected()">View Rejected</a></li>
          <li><a href="#" onclick="viewAll()">View All </a></li>
        </ul>
      </div>
    </div>
  </h3>
  <br /><br />
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="table-responsive">
      <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
        <thead>
          <tr>
            <th>ID</th>
            <th>PO No</th>
            <th>Date</th>
            <th>Supplier</th>
            <th>Total Amount</th>
            <th>Payment</th>
            <th>Status</th>
            <th>Added By</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

<!-- /.modal -->
<div id="poModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg" style="width: 70%">
    <div class="modal-content">
      <form id="poForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Purchase Order No: <label id="po_number"></label></h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="purchase_order_id">
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Supplier</label>
                <input type="text" readonly class="form-control" name="supplier_id_items" id="supplier_id_items"
                  required>
              </div>

              <div class="form-group">
                <label class="control-label">Products</label>
                <select class="form-control" required id="product_id" name="product_id"
                  onchange="productCostLookUp(this.value)">
                </select>
              </div>

              <div class="form-group">
                <label class="control-label">Cost</label>
                <input type="number" readonly class="form-control" required name="cost" id="cost">
              </div>

              <div class="form-group">
                <label class="control-label">Quantity</label>
                <input type="number" class="form-control" required name="qty" id="qty">
              </div>

              <div class="form-group">
                <label class="control-label">Total Amount</label>
                <input type="number" class="form-control" required readonly name="total_amount" id="total_amount">
              </div>

              <small>Click "Calculate" before saving</small>
              <div class="form-group">
                <button type="button" class="btn btn-danger waves-effect waves-light" onclick="clear()">Clear</button>
                <button type="button" class="btn btn-success waves-effect waves-light"
                  onclick="calculate()">Calculate</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="addItem()">Save
                  Item</button>
              </div>
            </div>

            <div class="col-md-8">
              <div class="table-responsive">
                <table id="poItemsTable" class="table table-striped" role="grid" aria-describedby="datatable_info">
                  <caption>Items added in this Purchase Order</caption>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Product</th>
                      <th>Qty</th>
                      <th>Cost</th>
                      <th>Total Amount</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success waves-effect" onclick="printPO()">Print PO</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Add Purchase Order</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Supplier</label>
                <select class="form-control" name="supplier_id" id="supplier_id">
                </select>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Date</label>
                <input type="date" class="form-control" name="date_po" id="date_po">
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Mode of Payment</label>
                <select class="form-control" name="mode_of_payment" id="mode_of_payment">
                  <option>PICKUP</option>
                  <option>DELIVERY</option>
                </select>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Status</label>
                <select class="form-control" name="status" id="status">
                  <option style="color: blue">PENDING</option>
                  <option style="color: green">APPROVED</option>
                  <option style="color: red">REJECTED</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect waves-light" id="deleteButton">Delete</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light">Save
            Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- /.modal -->
<div id="receiveModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg" style="width: 70%">
    <div class="modal-content">
      <form id="receivePOForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Receive Purchase Order</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="po_table_id" id="po_table_id" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="po_number_receive">ENTER PO #: </label>
              <div class="input-group">
                <input type="text" class="form-control" required name="po_number_receive" id="po_number_receive" readonly>
                <div class="input-group-addon"><button type="button" onclick="loadPODetails()">VIEW PO</button></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Supplier</label>
                <input type="text" readonly class="form-control" name="supplier_name" id="supplier_name">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Total PO Amount</label>
                <input type="text" readonly class="form-control" style="color: red; text-align: right;" name="total_po_amount" id="total_po_amount">
              </div>
            </div>
            <div class="col-md-12">
              <div class="table-responsive">
                <table id="poItemsTableReceiving" class="table table-striped" role="grid"
                  aria-describedby="datatable_info">
                  <caption>Items in this Purchase Order</caption>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Product</th>
                      <th>Cost</th>
                      <th>Qty</th>
                      <th>Receive Qty</th>
                      <th>Total Amount</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Received By</label>
                <input type="text" class="form-control" name="received_by" id="received_by">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Date Received</label>
                <input type="date" class="form-control" name="date_received" id="date_received">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Remarks</label>
                <input type="text" class="form-control" name="remarks" id="remarks">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary waves-effect" onclick="saveReceivingPO()">Update Received Purchase Order</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->