<div class="row">
	<p class="box-title"></p>
	<div class="col-md-2">
		<button class="btn btn-block waves-effect waves-light bg-theme" id="addModal" style="color: white;">
			<i class="fa fa-plus m-r-5"></i> Create Disposal
		</button>
	</div>

	<br />
	<br />
	<br />

	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="table-responsive">
			<table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
				<thead>
					<tr>
						<th>ID</th>
						<th>Code</th>
						<th>Reason</th>
						<th>Status</th>
						<th>Added By</th>
						<th>Date Time</th>
            <th>Action</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
 style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="content_form">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						×
					</button>
					<h4 class="modal-title">Form</h4>
				</div>
				<div class="modal-body">
					<!-- Hidden Inputs -->
					<div class="form-group has-feedback">
						<input type="hidden" class="form-control" required name="modifyId" value="" />
					</div>
					<div class="form-group has-feedback">
						<input type="hidden" class="form-control" required name="formAction" value="add" />
					</div>
					<!-- Hidden Inputs -->

					<div class="form-group">
						<label for="description">Reason</label>
						<div class="input-group">
							<div class="input-group-addon"><i class="ti-user"></i></div>
							<input type="text" class="form-control" required="required" id="reason" name="reason" />
						</div>
					</div>

					<div class="form-group">
						<label for="item_id">Status</label>
						<div class="input-group">
							<div class="input-group-addon"><i class="ti-user"></i></div>
							<select class="form-control" name="status" id="status">
                <option>DISPOSAL</option>
                <option>REUSED</option>
				<option>RETURN TO SUPPLIER</option>
							</select>
						</div>
					</div>

				</div>



				<div class="modal-footer">
					<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">
						Close
					</button>

					<button type="button" class="btn btn-danger waves-effect waves-light" id="deleteButton">

						Delete

					</button>

					<button type="submit" class="btn btn-primary waves-effect waves-light">
						Save Changes
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Button trigger modal -->


<!--Modal for raw items-->
<div id="viewModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
 style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form id="rawMaterials">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						×
					</button>
					<h4 class="modal-title">Disposal ID:  <b id="formulation_item_name"></b></h4>
				</div>
				<div class="modal-body row">
					<div class="form-group has-feedback">
						<input type="hidden" class="form-control" required name="formAction" value="addRaw" />
					</div>
					<div class="form-group has-feedback">
						<input type="hidden" class="form-control" required name="modifyId" value="" />
					</div>
					<div class="form-group col-md-6">
						<label for="item_id">Item Name</label>

						<select class="form-control select2" name="raw_item_id" id="raw_item_id">
						</select>

					</div>

					<div class="form-group col-md-3">
						<label for="description">Qty</label>
						<input type="number" class="form-control" required="required" name="orig_qty" value="1"/>
					</div>

					<div class="form-group col-md-3">
						<label for="remarks">Unit</label>
						<input type="text" class="form-control" required="required" name="orig_uom" />

					</div>

					<div class="form-group col-md-12">
						<button type="submit" class="btn btn-primary waves-effect waves-light col-md-12">
							Save item to table
						</button>
					</div>

					<div class="col-md-12 table-responsive">
						<table id="datatable_raw" class="table table-striped" role="grid" aria-describedby="datatable_info">
							<thead>
								<tr>
									<th>ID</th>
									<th>Item Name</th>
									<th>Qty</th>
									<th>Unit</th>
									<th>Return As</th>
									<th></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
	
					</div>

				</div>

			</form>
		</div>
	</div>
</div>