<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Reports
        <div class="panel-action">
          <div class="dropdown"> <a class="dropdown-toggle" id="examplePanelDropdown" data-toggle="dropdown" href="#"
              aria-expanded="false" role="button">Choose <span class="caret"></span></a>
            <ul class="dropdown-menu bullet dropdown-menu-right" aria-labelledby="examplePanelDropdown" role="menu">
              <li role="presentation"><a onclick="joborder()" role="menuitem"><i class="icon wb-reply"
                    aria-hidden="true"></i> Job Order</a></li>
              <li role="presentation"><a onclick="finishedGoods()" role="menuitem"><i class="icon wb-reply"
                    aria-hidden="true"></i> Finished Goods</a></li>
              <li role="presentation"><a onclick="usedGoods()" role="menuitem"><i class="icon wb-reply"
                      aria-hidden="true"></i> Used Goods</a></li>
              <!-- <li role="presentation"><a onclick="employeeProduction()" role="menuitem"><i class="icon wb-reply"
                      aria-hidden="true"></i> Employee Production</a></li>
               <li role="presentation"><a onclick="returnGoods()" role="menuitem"><i class="icon wb-reply"
                    aria-hidden="true"></i> Ingredients</a></li>
              <li role="presentation"><a onclick="viewPayrollForm()" role="menuitem"><i class="icon wb-reply"
                    aria-hidden="true"></i> Batch No Of Production</a></li>
              <li role="presentation"><a onclick="viewPurchaseOrder()" role="menuitem"><i class="icon wb-share"
                    aria-hidden="true"></i> Packaging</a></li> 
              <li role="presentation"><a onclick="viewBilling()" role="menuitem"><i class="icon wb-trash"
                    aria-hidden="true"></i> Expiration</a></li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-wrapper collapse in">
        <div class="panel-body">

          <div id="content">
            <h3 id="no_content">Please choose for reports</h3>

            <div id="daterange" style="display: none;">
              <div class="form-group">
                <label for="Username">
                  Date From
                </label>
                <input type="date" class="form-control" required id="date_from" name="date_from">
              </div>
              <div class="form-group">
                <label for="Username">
                  Date To
                </label>
                <input type="date" class="form-control" required id="date_to" name="date_to">
              </div>
            </div>

            <div id="joborder" style="display: none;">
              <div class="form-group">
                <label class="control-label">Job Order #</label>
                <input type="text" class="form-control" id="job_order_number">
              </div>
            </div>

          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" type="button" onclick="preview()">PREVIEW</button>
          <button class="btn btn-success" type="button" onclick="printReport('reports-content')"
            style="float:right">PRINT</button>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div id="reports-content">

      <table border="1" style="width: 100%;" cellpadding="5px">
        <caption>
          <img src="plugins/images/thp-logo-100px.png" align="right" HSPACE=”50” VSPACE=”50”>
          <span id="caption">Generated Report</span>
        </caption>
        <thead id="thead">
        </thead>
        <tbody id="tbody">
        </tbody>
      </table>
      <br />
      <div id="others" style="float:right">
      </div>
    </div>

  </div>

</div>