<div class="row">
  <h3 class="box-title">
    <div class="col-md-2">
      <button class="btn btn-block waves-effect waves-light bg-theme" onclick="receivePO()" style="color: white;">
        <i class="fa fa-plus m-r-5"></i> Receive Incoming PO
      </button>
    </div>
  </h3>
  <br /><br />
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="table-responsive">
      <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
        <caption>Created Purchase Orders</caption>
        <thead>
          <tr>
            <th>ID</th>
            <th>PO No</th>
            <th>Date</th>
            <th>Supplier</th>
            <th>Total Amount</th>
            <th>Payment</th>
            <th>Status</th>
            <th>Added By</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

<!-- /.modal -->
<div id="poModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg" style="width: 70%">
    <div class="modal-content">
      <form id="poForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Purchase Order No: <label id="po_number"></label></h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="modifyId" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="purchase_order_id">
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table id="poItemsTable" class="table table-striped" role="grid" aria-describedby="datatable_info">
                  <caption>Items added in this Purchase Order</caption>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Product</th>
                      <th>Qty</th>
                      <!-- <th>Cost</th> -->
                      <!-- <th>Total Amount</th> -->
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
            <div class="col-md-12">
              <div class="table-responsive">
                <table id="itemizeTable" class="table table-striped" role="grid" aria-describedby="datatable_info">
                  <caption>Specific Item Values for Product: <b id="product_selected"></b></caption>
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Product</th>
                      <th>Batch No</th>
                      <th>Manufacturing</th>
                      <th>Expiry</th>
                      <th>Transaction Ref</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-success waves-effect" onclick="printPO()">Print PO</button> -->
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->


<!-- /.modal -->
<div id="receiveModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg" style="width: 100%">
    <div class="modal-content">
      <form id="receivePOForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Receive Purchase Order</h4>
        </div>
        <div class="modal-body">
          <!--Hidden Inputs-->
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="po_table_id" id="po_table_id" value="">
          </div>
          <div class="form-group has-feedback">
            <input type="hidden" class="form-control" required name="formAction" value="add">
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group col-md-4">
                <label for="po_number_receive">ENTER PO #: </label>
                <div class="input-group">
                  <input type="text" class="form-control" required name="po_number_receive" id="po_number_receive">
                  <div class="input-group-addon"><button type="button" onclick="loadPODetails()">VIEW PO</button></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Supplier</label>
                  <input type="text" readonly class="form-control" name="supplier_name" id="supplier_name">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Reference No (Supplier DR)</label>
                  <input type="text" class="form-control" name="supplier_dr" id="supplier_dr">
                </div>
              </div>
              <div class="col-md-12">
                <div class="table-responsive">
                  <table id="poItemsTableReceiving" class="table table-striped" role="grid"
                    aria-describedby="datatable_info">
                    <caption>Items in this Purchase Order</caption>
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Product</th>
                        <th>Cost</th>
                        <th>Qty</th>
                        <th>Receive Qty</th>
                        <!-- <th>Total Amount</th> -->
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
                <br /><br />
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">Batch No</label>
                  <input type="text" class="form-control" name="batch_no" id="batch_no">
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" style="float:right;">Total PO Amount</label>
                  <input type="text" readonly class="form-control" style="color: red;text-align: right;"
                    name="total_po_amount" id="total_po_amount">
                </div>
              </div> -->
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">Received By</label>
                  <input type="text" class="form-control" name="received_by" id="received_by">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">Date Received</label>
                  <input type="date" class="form-control" name="date_received" id="date_received">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">Remarks</label>
                  <input type="text" class="form-control" name="remarks" id="remarks">
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <h4 id="item_description">ITEM NAME</h4>
              <input type="hidden" id="item_id_selected_value">
              <input type="hidden" id="item_description_selected_value">
              <span style="float: right;"><input type="checkbox" id="check_first_value" value="1"> Set First values to all items</span>
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Manufacturing</th>
                    <th>Expiry</th>
                  </tr>
                </thead>
                <tbody id="item_values_tbody"></tbody>
              </table>
              <button type="button" class="btn btn-primary pull-right" onclick="saveGoodItems()">SAVE GOODS FOR THIS ITEM</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success waves-effect" onclick="saveReceivingPO()">Save Received Purchase
            Order</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Button trigger modal -->